@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
  background-color: #F7FBFF;
  color: #2E3A59;
}

.btn-kid {
  @apply rounded-kid px-6 py-3 font-bold text-white shadow-md transition active:scale-95;
}